form#newsmgmt {
    background-color: #DEA266;
    margin:15px auto 15px auto;
    padding:20px;
    padding-right:50px;
    border:3px solid black;
    border-radius: 8px;
    width:70%;
}

.delete-news, .delete-game {
    cursor: pointer;
}

 .management-content {
     background-color: rgba(239,228,176, 0.8);
     border-radius: 8px;
     padding: 10px;
 }

 .management-content a {
     color: #b33713 !important;
 }

#dialog-confirm {
    display: none;
}
