body {
    background-image: url(../image/background.jpg);
    background-attachment: fixed;
}

header, nav {
    margin: auto;
    text-align: center;
}

nav {
    background-color: black;
    background-color: rgba(33, 33, 33, 0.5);
    border-radius: 8px;
    margin-bottom: 10px;
    padding:5px;
    width: 1000px;
}

nav a {
    color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: black;
    border: 1px solid #333;
}

footer {
    background-color: black;
    clear:both;
    color:white;
    line-height: 30px;
}
