/*GENERAL*/
body {
    background-image: url(../image/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 13px;
}

/*HEADER*/
header {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}

/*NAV*/
nav {
    background-color: black;
    background-color: rgba(33, 33, 33, 0.5);
    border-radius: 8px;
    margin-bottom: 10px;
    padding:5px;
    text-align: center;
}

nav a {
    color: white;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: black;
    border: 1px solid #333;
}

/*BOOTSTRAP CUSTOM*/
#container {
    width: 100%;
}

#container-nav {
    margin: 0 auto;
    max-width: 1200px;
}

.ul-nav {
    margin-left: 18px;
}

/* OTHER PAGES */
.text-block {
    border-radius: 8px;
    background-color: rgba(33, 33, 33, 0.9);
    color: white;
    padding: 20px;
    margin-bottom: 10px;
}


/*PANEL GENERAL*/
.panel-primary>.panel-heading {
    background-color: black;
    background-image: -webkit-linear-gradient(top,#000 0,#90580b 100%);
    background-image: -o-linear-gradient(top,#000 0,#90580b 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#000),to(#90580b));
    background-image: linear-gradient(to bottom,#000 0,#90580b 100%);

}

.panel-primary {
    border-color: #666;
}

.row-content {
    margin: 0 auto;
    border-radius: 8px;
}

/*CAROUSSEL*/
.col-md-6 {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.col-md-5 {
    width: 50%;
    padding: 0;
    margin: 0 auto;
}
.panel-main {
    padding: 0;
    background-color: transparent;
    border: 0;
    margin: 0 auto;
    width: 80%;
}

.newscontent {
    background-color: rgba(144, 88, 11, 0.5);
    border-radius: 8px;
    padding: 10px;
}

.newscaroussel {
    font-family: verdana;
    padding: 0;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.newscaroussel h2 {
    font-size: 1.2em;
}

.newscaroussel .slick-track {
    height:300px;
}

.newscaroussel .slick-slide {
    background-size: 100% 100%;
    padding:10px;
    padding-top:10px;
}

/*VIDEO*/
.bptvideo {
    margin: auto;
    max-width: 700px;
}

/*NEWS*/
.newslist {
    list-style: none;
    padding:0;
}

.newslist li {
    background-color:#c0c0c0;
    border: 1px solid black;
    border-radius: 8px;
    margin:5px;
    min-height: 150px;
    overflow:hidden;
    padding:5px;
}

.newslist .newspicture {
    float:left;
    border:1px solid black;
}

.newslist .newsdetail {
    float:right;
    border:1px solid black;
    width: 100%;
}

.newslist h1 {
    background-color: bisque;
    border-radius: 8px;
    font-family: verdana;
    font-size: 2em;
    margin:5px;
    padding:5px;
}

.newslist h2 {
    font-family: verdana;
    font-size: 1.5em;
    margin:3px;
    padding:5px;
}

/*CALENDRIER*/
#jq-calendar {
    width: 100%;
}

.general-panel {
    width: 80%;
}

/*FOOTER*/
footer {
    background-color: black;
    background-color: rgba(33, 33, 33, 0.5);
    border-radius: 8px;
    margin-bottom: 10px;
    padding:5px;
    text-align: center;
}
